body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul,  td,
ol, li, pre, form, fieldset, legend, button, input, textarea, th { 
    margin:0; padding:0; }
  h1, h2, h3, h4, h5, h6{ font-size:100%; }
  address, cite, dfn, em, var { font-style:normal; }
  small{ font-size:12px; }
  ul, ol { list-style:none; }
  a { text-decoration:none; }
  a:hover { text-decoration:underline; }
  sup { vertical-align:text-top; }
  sub{ vertical-align:text-bottom; }
  legend { color:#000; }
  fieldset, img { border:0; }
  button, input, select, textarea { font-size:100%; }
  table { border-collapse:collapse; border-spacing:0; }
  input,textarea,button{outline: none}
  button:focus,input:focus{box-shadow: none !important;outline:none !important;}

  html{
    height: 100%;
  }
  body{
    font-family: "HelveticaNeue","LucidaGrande","SegoeUI",Arial, Helvetica, Verdana, sans-serif;
    height: 100%;
  }
  #app{
    height:100%;
  }
 
