footer{
    background-color:#3c3c3c;
}
footer .title a{
    text-decoration: none;
}
footer .title{
    color:#bcbcbc;
    border-bottom:1px solid #bcbcbc;
}
footer .title i{
    font-size:2rem;
    color:#bcbcbc;
}
footer .title i:hover{
    color:#93cae0;
}
footer img#brand{
    width:75%;
}
footer .text_small{
    font-size: 0.8rem;
    color:#bcbcbc;
}
footer .footer_totop{
    font-size: 34px;
    color:#fff;
}
footer .footer_totop a{
    text-decoration: none;
    color:#fff;
}
@media screen and (max-width:375px){
    footer h4{
        font-size: 0.6rem;
    }
    footer img#brand{
        width: 25%;
    }

}
@media screen and (min-width:375px) and (max-width:768px){
    footer h4{
        font-size:0.8rem;
    }
    footer img#brand{
        width:25%;
    }
}
@media screen and (min-width:768px) and (max-width:1200px){
    footer img#brand{
        width:75%;
    }
}