* {
  margin: 0;
  padding: 0; }

ul, li, ol {
  list-style: none; }

.header {
  z-index: 200;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 50%, rgba(227, 248, 232, 0.5) 100%);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3); }
  .header a {
    color: black;
    text-decoration: none; }
    .header a:hover {
      cursor: pointer;
      color: rgba(0, 0, 0, 0.7);
      text-decoration: none; }
  .header input:focus {
    box-shadow: none !important;
    outline: none !important; }
  .header #header-nav .nav-icon {
    width: 24px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .header #header-nav .nav-icon:hover li {
      background-color: rgba(40, 167, 69, 0.7); }
    .header #header-nav .nav-icon li {
      width: 24px;
      height: 2px;
      background: #28a745; }
  .header #header-nav img {
    height: 33px; }
  .header #header-nav .icon-login1_0, .header #header-nav .icon-login1_1, .header #header-nav .icon-login2_0, .header #header-nav .icon-login2_1, .header #header-nav .icon-sousuo, .header #header-nav .icon-dizhi {
    font-size: 1.7rem;
    font-weight: 550;
    color: #28a745; }
    .header #header-nav .icon-login1_0:hover, .header #header-nav .icon-login1_1:hover, .header #header-nav .icon-login2_0:hover, .header #header-nav .icon-login2_1:hover, .header #header-nav .icon-sousuo:hover, .header #header-nav .icon-dizhi:hover {
      color: rgba(40, 167, 69, 0.7); }
  .header #header-nav .personal > div {
    top: 37px;
    right: 0px; }
    .header #header-nav .personal > div > div {
      width: 10px;
      height: 10px;
      background: white;
      transform: translateY(50%) rotate(45deg);
      border-top: 0.5px solid #999;
      border-left: 0.5px solid #999; }
    .header #header-nav .personal > div > ul {
      border: 1px solid #999 !important;
      background: white;
      border: 0.5px solid #999;
      border-radius: 3px; }
      .header #header-nav .personal > div > ul.speed {
        width: 200px;
        transition: all 0.3s linear; }
      .header #header-nav .personal > div > ul.fold {
        overflow: hidden;
        padding: 0 !important;
        width: 0px;
        height: 0px;
        transition: all 0.3s linear; }
      .header #header-nav .personal > div > ul > li {
        font-weight: normal;
        font-size: 0.8rem;
        padding: 12px;
        color: black; }
        .header #header-nav .personal > div > ul > li:first-child {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          -ms-text-overflow: ellipsis;
          color: #28a745;
          font-size: 1.2rem; }
        .header #header-nav .personal > div > ul > li:last-child {
          margin-bottom: 1rem; }
        .header #header-nav .personal > div > ul > li:not(:first-child):hover {
          background: rgba(0, 0, 0, 0.1);
          color: rgba(0, 0, 0, 0.7);
          transition: background 0.3s linear; }
  .header #header-nav .collapse-navbar {
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: start; }
    .header #header-nav .collapse-navbar > div:first-child {
      width: 100%; }
      .header #header-nav .collapse-navbar > div:first-child > form {
        display: flex;
        align-items: center;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        line-height: 2rem; }
        .header #header-nav .collapse-navbar > div:first-child > form span {
          display: inline-block;
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          font-size: 1.5rem; }
        .header #header-nav .collapse-navbar > div:first-child > form input {
          vertical-align: middle;
          font-size: 1rem;
          width: 75%;
          border: 0;
          background-color: rgba(0, 0, 0, 0); }
          .header #header-nav .collapse-navbar > div:first-child > form input:focus {
            border: 0; }
    .header #header-nav .collapse-navbar > ul > li > a:hover {
      transform: scale(1.2, 1.2); }
  .header #search-page {
    z-index: 201;
    display: none; }
    .header #search-page .icon-sousuo, .header #search-page .icon-dizhi {
      padding-right: 5px;
      font-size: 1.5rem;
      color: #28a745;
      font-weight: bold; }
    .header #search-page h5.icon-dizhi {
      font-weight: normal; }
    .header #search-page p {
      margin: 0;
      text-align: right; }
      .header #search-page p button.icon-guanbi {
        position: relative;
        font-size: 1rem;
        font-weight: bolder;
        color: #28a745; }
    .header #search-page .card-header {
      margin-bottom: 0.75rem;
      padding: inherit;
      background: transparent;
      border: 1px solid rgba(0, 0, 0, 0.3); }
    .header #search-page .card {
      border: 0; }
      .header #search-page .card .card-body {
        overflow: hidden;
        padding: 0; }
        .header #search-page .card .card-body > div {
          padding: 0.75rem 1.25rem; }
          .header #search-page .card .card-body > div:hover {
            background: rgba(0, 0, 0, 0.1); }
          .header #search-page .card .card-body > div > div {
            opacity: 0.8; }
            .header #search-page .card .card-body > div > div:hover {
              opacity: 1;
              transform: translateX(2%);
              transition: all 0.2s linear; }
    .header #search-page #search-btn {
      color: rgba(0, 0, 0, 0.7); }
      .header #search-page #search-btn:hover {
        background: rgba(40, 167, 69, 0.7); }
      .header #search-page #search-btn:focus {
        box-shadow: none !important; }

@media screen and (min-width: 768px) {
  .header #header-nav {
    height: 45px; }
    .header #header-nav .collapse-navbar {
      width: 100%; }
      .header #header-nav .collapse-navbar ul li {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 1em;
        padding-right: 1em; }
  .header #user-center {
    width: 15%; } }

@media screen and (max-width: 767px) {
  @keyframes topChange0 {
    0% {
      transform: translateY(0) rotate(0); }
    50% {
      transform: translateY(4px) rotate(0); }
    100% {
      transform: translateY(4px) rotate(45deg); } }
  @keyframes topChange1 {
    0% {
      transform: translateY(4px) rotate(45deg); }
    50% {
      transform: translateY(4px) rotate(0); }
    100% {
      transform: translateY(0) rotate(0); } }
  @keyframes bottomChange0 {
    0% {
      transform: translateY(0) rotate(0); }
    50% {
      transform: translateY(-4px) rotate(0); }
    100% {
      transform: translateY(-4px) rotate(-45deg); } }
  @keyframes bottomChange1 {
    0% {
      transform: translateY(-4px) rotate(-45deg); }
    50% {
      transform: translateY(-4px) rotate(0); }
    100% {
      transform: translateY(0) rotate(0); } }
  .header #header-nav .collapse-navbar-0 {
    opacity: 0;
    line-height: 0;
    height: 0px;
    transition: all 0.5s linear; }
  .header #header-nav .collapse-navbar-1 {
    opacity: 1;
    line-height: 2;
    height: 800px;
    transition: all 0.5s linear; }
  .header #header-nav .collapse-navbar {
    border-top: 1px solid rgba(0, 0, 0, 0.6);
    padding: 10px; }
    .header #header-nav .collapse-navbar > div:first-child {
      padding: 10px; }
    .header #header-nav .collapse-navbar ul {
      width: 75%; }
      .header #header-nav .collapse-navbar ul > li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding: 10px; } }
