* {
  margin: 0;
  padding: 0; }

.login {
  padding: 10px;
  background: url("http://148.70.65.234:3001/img/login/pic03.jpg") no-repeat center center;
  height: 100%;
  background-size: cover; }
  .login a {
    cursor: pointer;
    text-decoration: none !important; }
  .login > div {
    width: 350px; }
    .login > div > div:first-child {
      border-radius: 3px; }
      .login > div > div:first-child > .my-form > p {
        color: #FF9800; }
        .login > div > div:first-child > .my-form > p > a {
          color: #FF9800; }
    .login > div > div:nth-child(2) > p {
      border-radius: 15px;
      background: rgba(0, 0, 0, 0.3); }
      .login > div > div:nth-child(2) > p > a {
        color: #FF9800 !important; }
    .login > div p {
      top: 0;
      right: 0; }
  .login .icon-qq, .login .icon-weibo, .login .icon-weixin {
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 3rem; }
    .login .icon-qq:hover, .login .icon-weibo:hover, .login .icon-weixin:hover {
      color: rgba(40, 167, 69, 0.7) !important;
      transition: all 0.2s linear; }
  .login .v-hide {
    visibility: hidden; }
