body section.pics{
  background: url("http://148.70.65.234:3001/img/background/bg-pics.png") no-repeat fixed;
  background-size: cover; }

.pics .pics_wall {
  width: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; }
  .pics .pics_wall::-webkit-scrollbar {
    display: none; }
  .pics .pics_wall .title img {
    width: 8rem;
    height: 6rem;
    margin-top: -1.6rem;
    padding: 1rem; }
  .pics .pics_wall .title > span {
    left: 3.8rem;
    bottom: 1.2rem;
    color: #fff;
    font-size: 1rem; }
    .pics .pics_wall .title > span .curYear {
      font-size: 1.4rem; }
  .pics .pics_wall .masonry {
    position: relative;
    margin: 0 auto;
    clear: both; }
    .pics .pics_wall .masonry .item {
      position: absolute;
      width: 150px;
      margin: 5px;
      border: 1px solid #ddd;
      transition: all 1s; }
      .pics .pics_wall .masonry .item img {
        width: 100%;
        height: 100%; }

@media screen and (max-width: 375px) {
  .pics .pics_wall .masonry .item {
    width: 140px; } }

@media screen and (min-width: 375px) and (max-width: 768px) {
  .pics .pics_wall .masonry .item {
    width: 162px; } }

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .pics .pics_wall .masonry .item {
    width: 160px; } }
