* {
  margin: 0;
  padding: 0; }

.app-spots a {
  color: rgba(0, 0, 0, 0.5); }
  .app-spots a:hover {
    transform-origin: center center;
    color: #28a745;
    text-decoration: none; }

.app-spots #header > div:nth-child(2) {
  top: 0;
  left: 0; }

.app-spots #header .in {
  z-index: 50;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.5s linear; }
  .app-spots #header .in p {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px; }

.app-spots #header .out {
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s linear; }
  .app-spots #header .out p {
    display: none;
    position: absolute;
    bottom: 0px;
    right: 0px; }

.app-spots #header .search-input {
  position: absolute;
  z-index: 51;
  bottom: 20%; }
  .app-spots #header .search-input > p {
    font-size: 4rem;
    font-weight: bold; }
  .app-spots #header .search-input form {
    width: 500px;
    margin: 0 auto;
    border-radius: 1.2rem; }
    .app-spots #header .search-input form input {
      border: none;
      height: 2.3rem; }
    .app-spots #header .search-input form span {
      font-size: 1.5rem; }

.app-spots #body > div > div:nth-child(2) > div:nth-child(1) > span {
  color: white;
  background-color: rgba(40, 167, 69, 0.5);
  border-bottom: 0; }
  .app-spots #body > div > div:nth-child(2) > div:nth-child(1) > span.active {
    border-radius: 5px 5px 0 0;
    background-color: transparent !important;
    color: #28a745;
    border-top: 1px solid rgba(40, 167, 69, 0.5);
    border-left: 1px solid rgba(40, 167, 69, 0.5);
    border-right: 1px solid rgba(40, 167, 69, 0.5);
    border-bottom: 0; }

.app-spots #body #all-spots > div > div > div {
  border-left: 1px solid rgba(40, 167, 69, 0.5);
  border-right: 1px solid rgba(40, 167, 69, 0.5);
  border-bottom: 1px solid rgba(40, 167, 69, 0.5); }

.app-spots #body #all-spots img + div, .app-spots #body #spots01 img + div, .app-spots #body #spots02 img + div {
  top: 0;
  left: 0; }
  .app-spots #body #all-spots img + div > p, .app-spots #body #spots01 img + div > p, .app-spots #body #spots02 img + div > p {
    word-wrap: break-word;
    text-align: center; }

.app-spots #body #spots03 .card-footer {
  border-left: 0.5px solid rgba(40, 167, 69, 0.3);
  border-right: 0.5px solid rgba(40, 167, 69, 0.3);
  border-bottom: 0.5px solid rgba(40, 167, 69, 0.3); }
  .app-spots #body #spots03 .card-footer + img {
    position: absolute;
    top: 0;
    left: 0; }
  .app-spots #body #spots03 .card-footer p:nth-child(1) {
    font-size: 1rem; }
  .app-spots #body #spots03 .card-footer p:nth-child(2) {
    font-size: 0.8rem;
    color: #999; }

@media screen and (min-width: 768px) {
  .app-spots #body > div > h6 {
    font-size: 1.2rem; }
    .app-spots #body > div > h6 + div > div:nth-child(1) {
      font-size: 1rem !important; }
  .app-spots #body #all-spots > div > div > div a {
    padding-left: 1.5rem !important; }
  .app-spots #body #all-spots img + div, .app-spots #body #spots01 img + div, .app-spots #body #spots02 img + div {
    background: url("http://148.70.65.234:3001/img/tab/tab01.png") no-repeat center center;
    background-size: contain; }
    .app-spots #body #all-spots img + div > p, .app-spots #body #spots01 img + div > p, .app-spots #body #spots02 img + div > p {
      color: #fff;
      height: 6rem;
      font-size: 1rem;
      width: 1rem;
      letter-spacing: 0.5rem;
      line-height: 1.2rem; } }

@media screen and (max-width: 767px) {
  .app-spots #header .imgs > div p {
    font-size: 0.8rem; }
  .app-spots #body > div > h6 + div > div:nth-child(1) {
    font-size: 1rem !important; }
  .app-spots #body #all-spots > div > div:nth-child(2) > div a {
    font-size: 1rem;
    padding: 0; }
  .app-spots #body #all-spots img + div > p, .app-spots #body #spots01 img + div > p, .app-spots #body #spots02 img + div > p {
    color: #fff;
    text-shadow: 1px 1px 1px #28a745;
    height: 3rem;
    font-size: 8px;
    line-height: 0.9rem; } }
