.strategy_details{
  font-size: 14px;
}
.strategy_details .text-h3 {
  font-size: 1.4rem; }

  .strategy_details .text-h2{
    font-size: 1.8rem; 
    padding-top: 1rem;
  }
.zanActive{
  color: #FF9800;
}



/* bigTitle */
.strategy_details  .breadCrumb{
  color: #007BFF;
}

.strategy_details .bigTitle div {
  border-bottom: 1px solid #ddd; }
  .strategy_details .bigTitle h3{
    font-size: 1.8rem;

  }

  .strategy_details .bigTitle div p {
    font-size: 0.8rem; }

.strategy_details .bigTitle .tag li > p :nth-child(2):hover {
  font-size: 0.6rem; }

.strategy_details .bigTitle .tag li > p :nth-child(2) {
  font-size: 0.8rem; }
  .strategy_details .bigTitle a.comment{
    text-decoration: none;
    color: #000;
  }
/*content*/
.strategy_details .details .content h4::first-letter {
  font-size: 1.6rem;
  color: #FF9800; }

.strategy_details .details .catalog h3:first-child {
  font-size: 1.6rem; }

.strategy_details .details .catalog .pointer_nav_right li a {
  color: #000; }

  
@media screen and (max-width: 767px) {
  .strategy_details .details .catalog {
    display: none; } 

    
    .strategy_details .bigTitle h3{
      font-size: 1.2rem;
  
    }
  
  }

