
$iconNormalColor:rgba(40, 167, 69, 1);
$iconHoverColor:rgba(40, 167, 69, 0.7);
$divHoverColor:rgba(0,0,0,0.1);
$fontNormalColor:rgba(0,0,0,1);
$fontHoverColor:rgba(0,0,0,0.7);
$inputBgColor0:rgba(0,0,0,0.1);
$inputBgColor1:rgba(0,0,0,0);
$bgColor01:rgba(40, 167, 69, 0.5);
$bgColor02:rgba(40, 167, 69, 0.3);
$font3r:3rem;
$font2r:2rem;
$font1_5r:1.5rem;
$font1_3r:1.3rem;
$font1_2r:1.2rem;
$font08r:0.8rem;
$font1r:1rem;


*{margin:0;padding:0;border:none;outline: none;}
.app-add-travel{
    a:hover{
        text-decoration: none; 
     }
     
     #top{
         overflow: hidden;
         img.bigImg{
             filter: blur(10px);
         }
         &>.headerImg{
             img{
                 width: 50px;
             }
             width: 100%;
             text-align: center;
             top:50%;
             left: 50%;
             
             &>div.spot{
                 // width: 50%;
                 margin: 0 auto;
                 // box-shadow: 3px 3px 31px 0px #000;
                 &>input{
                     width: 100%;
                     border-radius:5px;
                 }
             }
         }
     }
     #content{
         &>div.aside{
             top:0;
             right:0;
             box-shadow: -2px 0 5px rgba(0,0,0,0.3);
             font-family: "微软雅黑";
             &>div.alert-insert{
                 height: auto;
                 &>ul{
                     background-color:#fff;
                     width:0px;
                     overflow: hidden;
                     transition: width 0.3s linear;
                     &>li{
                         &.btn-shadow:hover{
                             box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.1);
                         }
                         border-bottom:1px solid $inputBgColor0;
                         font-weight: normal !important;
                         white-space:nowrap;
                         overflow: hidden;
                         padding:0.5rem;
                         padding-left: 0;
                         &:nth-child(5),&:nth-child(6),&:nth-child(7){
                             border:none;
                             // padding-top:2rem;
                             &:hover{
                                 box-shadow: none;
                             }
                         }
                         &>ol{
                             list-style-type:decimal-leading-zero !important;
                         }
                     }
                 }
             }
             
         }
        .section{
            .item>div:first-child{
             //    width:auto !important;
                 max-width: 100%;
                 .mask{
                     display: none;
                     padding-top:10px !important;
                     // background:rgba(0,0,0,0.5);
                     // width:270px;height:165px;
                     width:100px;
                     // top:0;left:50%;
                     top:0;left: 0;
                     // transform:translateX(-50%); 
                     font-size:1rem;
                     // opacity:0;
                     &>a{
                         width: 20px;
                         height:20px;
                         border-radius: 50%;
                         line-height: 20px;
                         background:rgba(0,0,0,0.5);
                     }
                     // &:hover{
                     //     opacity: 1;
                     // }
                 }
            }
             // resize: none;
             border-right:0 !important;
             overflow: scroll;
             -ms-overflow-style: none; //IE 10+
                 overflow: -moz-scrollbars-none; //Firefox
                 &::-webkit-scrollbar {
                     display: none; //Safari and Chrome
                 }
             img{
                 max-height: 500px;
                 max-width:100%;
             }
             textarea{
                 margin-left: 1px;
                 resize: none;
             }
         }
         
         .my-btn{
             button{
                 &:first-child{
                     background: #fff;
                     box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
                     color:$iconNormalColor;
                     &:hover{
                         box-shadow: inset inset 0px -1px 6px 3px rgba(0, 0, 0, 0.5);
                     }
                 }
                 &:last-child{
                     box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
                     background: $iconNormalColor;
                     color: #fff;
                     &:hover{
                         box-shadow: inset inset 0px -1px 6px 3px rgba(0, 0, 0, 0.5);
                     }
                 }
             }
         }
     }
     .pop-mask{
         z-index:300; 
         background: rgba(0,0,0,0.5);
         div.size-alert{
             z-index:301;
             top:50%;
             left: 50%;
             transform: translate(-50%,-50%);
             width:270px;height:165px;
             box-shadow: 0px 0px 31px 0px #000;
             border-radius: 5px;
         }
         div.load-img{
            display: flex;
            flex-direction: column;
            align-items: center;
             width: fit-content;
             max-height: 50%;
             z-index:302;
             margin: 0 auto;
             top:50%;
             left: 50%;
             transform: translate(-50%,-50%);
             background: transparent;
             &>div{
                 width: fit-content;
             }
             .img-box{ 
                 max-width: 100%;
                 max-height: 100%;
                 box-shadow: 0px 0px 31px 0px #000;
                 border-radius: 5px;
             }
         }
     }
     #headerImg-btn{
         width: 0; 
         height: 0; 
         opacity: 0;
     }
     #selected-area{
         position: absolute;
         transform: translate(-50%,-50%);
         width:270px;
         height:165px;
         min-width:270px;
         min-height:165px;
         top:50%;
         left:50%;
         z-index: 305;
         resize: both;
         overflow: hidden;
         opacity: 0;
     }
     #my-canvas{
         position: absolute;
         transform: translate(-50%,-50%);
         top:50%;
         left:50%;
         z-index: 303;
     }
}



//大屏幕
@media screen and (min-width:768px){
    .app-add-travel{
        #top{
            &>.headerImg{
                transform: translate(-50%,-43%);
                &>p>a.icon-tupian{
                    font-size: 3rem;
                }
                &>div{
                    &>p:first-child{
                        font-size: 1.5rem;
                    }
                    &>p:last-child{
                        font-size: 1rem;
                    }
                }
                font-size: $font2r;
            }
            div.spot{
                width: 500px;
                // height:3rem;
                &>input{
                    height: 3rem;
                    font-size: 1rem;
                }
            }
        }
        #content{
            .aside{
                height: 800px;
            }
            .section{
                height: 800px;
            }
            ul{
                a{
                    font-size: 1.5rem;
                }
                font-size: 1rem;
                &.spread{
                    width:150px !important;
                }
            }
            .my-btn{
                button{
                    font-size: $font1_2r;
                    width: 8rem;
                    height: 3rem;
                    border-radius:1.5rem;
                }
            }
        }
    }    
}


//小屏幕
@media screen and (max-width:767px){
    .app-add-travel{
        #top{
        
            &>.headerImg{
                transform: translate(-50%,-35%);
                &>p>a.icon-tupian{
                    font-size: 2rem;
                }
                &>div{
                    margin-bottom:-0.5rem;
                    &>p:first-child{
                        font-size: 1rem;
                    }
                    &>p:last-child{
                        font-size: 0.8rem;
                    }
                }
                font-size: $font2r;
            }
            div.spot{
                width: 75%;
                &>input{
                    // margin-bottom:-1.5rem;
                    height: 1.5rem;
                    font-size: 1rem;
                }
            }
        }
        #content{
            .aside{
                height: 500px;
            }
            .section{
                height: 500px;
            }
            ul{
                &.spread{
                    width:120px !important;
                }
                a{
                    font-size: 1rem;
                }
                font-size: 0.8rem;
            }
            .my-btn{
                button{
                    font-size: $font1r;
                    width: 6rem;
                    height: 2rem;
                    border-radius:1rem;
                }
            }
        }
    }   
}
