$iconHoverColor:rgba(40, 167, 69, 0.7);
$fontNormalColor:rgba(0,0,0,0.5);
$bgColor:rgba(0,0,0,0.3);
$fontColor:#FF9800;
*{margin: 0;padding: 0}

.login{
    
        padding:10px;
        background:url("http://127.0.0.1:3001/img/login/pic03.jpg") no-repeat center center;
        height: 100%;
        background-size: cover;
    a{
        cursor:pointer;
        text-decoration: none !important;
    }
     &>div{
        width:350px;
        &>div:first-child{
            border-radius: 3px;
            &>.my-form>p{
                &>a{
                    color:$fontColor;
                }
                color:$fontColor;
            }
        }
        &>div:nth-child(2){
            &>p{
                border-radius:15px; background:$bgColor;
                &>a{
                    color:$fontColor !important;
                }
            }
        }
        p{
            top:0;
            right:0;
        }
    }
    .icon-qq,.icon-weibo,.icon-weixin{
        color:$fontNormalColor !important;
        font-size: 3rem;
        &:hover{
            color:$iconHoverColor !important;
            transition: all 0.2s linear;
        }
    }
    .v-hide{
        visibility: hidden;
    }
}